<nav class="navbar navbar-expand-lg navbar-dark  bg-dark navbar123">
    <div class="container-fluid">
        <a class="navbar-brand logo" href="#"> <i class="fab fa-hotjar"></i> <strong></strong> Fintech
            &emsp13; &ensp; &ensp;</strong></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav web navbar-text">
                <li id="home" class="nav-item " onclick="active()">
                    <a class="nav-link" aria-current="page" href="/">
                        &emsp; Home &ensp;</a>
                </li>
                <li id="cus" class="nav-item" onclick="active()">
                    <a class="nav-link" href="/customer"> &ensp; &ensp;Customers &ensp;</a>
                </li>
                <li id="tran" class="nav-item" onclick="active()">
                    <a class="nav-link" href="/transactions"> &ensp; &ensp; Transactions
                        &ensp;</a>
                </li>
            </ul>

        </div>


    </div>

</nav>